{% extends 'base.html' %}
{% load static %}  
{% block content %} 
<div class="container">
   <div class="row">
      <!-- Latest Posts -->
      <main class="posts-listing col-lg-12">
         <h2>Search Results:</h2>
         <hr>
         </hr>
         <br></br>
         <div class="container">
            <div class="row">
               {% for post in queryset %}
               <!-- post -->
               <div class="post col-xl-4">
                  <div class="post-thumbnail"><a href="{{post.get_absolute_url}}"> 
                     <img src="{{post.thumbnail.url}}"  alt="..." class="img-fluid"></a>
                  </div>
                  <div class="post-details">
                     <div class="post-meta d-flex justify-content-between">
                        <div class="date meta-last">{{post.timestamp}}</div>
                        <div class="category">
                           {% for cat in post.categories.all %}
                           <a href="#">{{cat}}</a>
                           {% endfor %}
                        </div>
                     </div>
                     <a href="{{post.get_absolute_url}}">
                        <h3 class="h4">{{post.title}}</h3>
                     </a>
                     <p class="text-muted">{{post.overivew}}</p>
                     <footer class="post-footer d-flex align-items-center">
                        <a href="#" class="author d-flex align-items-center flex-wrap">
                           <div class="avatar"><img src="{{post.author.profile_picture.url}}" alt="..." class="img-fluid"></div>
                           <div class="title"><span>{{post.author.user.username}}</span></div>
                        </a>
                        <div class="date"><i class="icon-clock"></i> {{post.timestamp}}</div>
                        <div class="comments meta-last"><i class="icon-comment"></i>{{post.comment_count}}</div>
                     </footer>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </main>
   </div>
</div>
{% endblock content %}